Semeste(2)-DISM/XML/schema.xsd

<?xml version = "1.0"?>
<xs:schema xmlns:xs = "https://www.w3.org/2001/XMLSchema">

<xs:element name = "note">

    <xs:complexType>

        <xs:sequence>
            <xs:element name = "To" type = "xs:string"/>
            <xs:element name = "from" type = "xs:string"/>
            <xs:element name = "heading" type = "xs:string"/>
            <xs:element name = "body" type = "xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:element>

</xs:schema>